In [1]:
# Data Analysis
import pandas as pd

# Data Visualization
from matplotlib import pyplot as plt
import seaborn as sns

# Utilities
import numpy as np
# from tqdm import tnrange
import pickle
import os
from tqdm import tqdm_notebook as tqdmn
# import warnings

In [2]:
req_rate_levels = ['L']
type_levels = ['L','M','H']

rep = 5

df_table = pd.DataFrame(columns=['Request rate','Request type', 'Response time'])

for req_rate in req_rate_levels:    

    for t in type_levels:
        
        print('Experiment:', req_rate + t)
        for i in range(rep):
            print('\tRep:', i+1)
            df = pd.read_csv('dataset/' + req_rate + t + '_0' + str(i+1) + '.jtl')
    
            tot_req = df.shape[0]
            print('\t\tTotal requests:', tot_req)
            
            err = (df['success'] == False).sum()
            print('\t\tErrors:', err, '(' + str(err/tot_req*100) + ' %)')
            
            elaps = df.loc[df['success']==True, 'elapsed'].mean()
            
            df_table = df_table.append({'Request rate' : req_rate, 'Request type' : t, 'Response time' : elaps}, ignore_index=True)

Experiment: LL
	Rep: 1
		Total requests: 7581
		Errors: 0 (0.0 %)
	Rep: 2
		Total requests: 7582
		Errors: 0 (0.0 %)
	Rep: 3
		Total requests: 7583
		Errors: 0 (0.0 %)
	Rep: 4
		Total requests: 7584
		Errors: 0 (0.0 %)
	Rep: 5
		Total requests: 7584
		Errors: 0 (0.0 %)
Experiment: LM
	Rep: 1
		Total requests: 7570
		Errors: 0 (0.0 %)
	Rep: 2
		Total requests: 7571
		Errors: 0 (0.0 %)
	Rep: 3
		Total requests: 7564
		Errors: 0 (0.0 %)
	Rep: 4
		Total requests: 7566
		Errors: 0 (0.0 %)
	Rep: 5
		Total requests: 7572
		Errors: 0 (0.0 %)
Experiment: LH
	Rep: 1
		Total requests: 7523
		Errors: 28 (0.37219194470291106 %)
	Rep: 2
		Total requests: 7523
		Errors: 41 (0.5449953476006912 %)
	Rep: 3
		Total requests: 7523
		Errors: 90 (1.1963312508307855 %)
	Rep: 4
		Total requests: 7521
		Errors: 44 (0.585028586624119 %)
	Rep: 5
		Total requests: 7526
		Errors: 50 (0.6643635397289397 %)

In [4]:
df_table

  Request rate Request type  Response time
0            L            L       3.240865
1            L            M       7.985865
2            L            H      18.932088